body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
  font-family: 'Muli';
  line-height: inherit;
}
html { scroll-behavior: smooth; }
body ul { margin: 0 0 }
body ul li { margin-bottom: 0px }


/*for overide mapbox*/
.mapboxgl-ctrl.mapboxgl-ctrl-attrib { display: none; }


/*for overide skeleton*/
select.my-select {
  background: rgba(255,255,255,0.30);
  border: 1px solid #aaa;
  border-radius: 1px;
}
input.my-button {
  border-radius: 1px;
  background-color: #ff8d00 !important;
  border: none;
  margin: 0 0;
}
form.my-form {
  padding: 0 0;
  margin: 0 0;
  margin-top: 28px;
}
