body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
  font-family: 'Muli';
  line-height: inherit;
}
html { scroll-behavior: smooth; }

body ul {
  margin: 0 0;
}
body ul li {
  margin-bottom: 0px;
}
