
.frame-slider {
  position: absolute;
  top: 0;
  height: 100vh;
  overflow: hidden;
}
.frame-slider section {
  float: left;
  height: 100vh;
}
.container-section {
  transition-duration: 600ms;
  height: 100vh;
}




.container-arrow-slider {
  position: absolute;
  top: 48vh;
  font-size: 18px;
}
.container-arrow-slider.mob {
  top: inherit;
  bottom: 70px;
  font-size: 15px;
}
.container-arrow-slider .arrow-slider {
  color: white;
  position: absolute;
  cursor: pointer;
  font-weight: 900;
}
.container-arrow-slider .arrow-slider i {
  font-size: 40px;
  padding: 6px;
}
.container-arrow-slider.mob .arrow-slider i {
  font-size: 34px;
}






.main-section {
  width: 100%;
  margin-top: 50vh;
  transform: translateY(-140px);
}
.main-section .container-logo-img {
  width: 280px;
  height: 160px;
  margin: auto;
}
.main-section h1 span { color: #ff8d00 }
.main-section h1 {
  text-align: center;
  color: white;
  font-size: 'muli';
  font-weight: 700;
  text-shadow: 0 0 2px rgba(0,0,0,0.4);
  padding: 0 15px;
}
.main-section .div-border {
  transform: translateY(30px);
  width: 80px;
  height: 4px;
  margin: auto;
  background: #3ac9ff;
}
