.header-big .main-menu .li-lvl-1 {
  float: left;
  padding: 37px 0px 37px 40px;
}
.header-big .main-menu .li-lvl-1 i { margin-right: 8px }
.header-big .main-menu i.nos-destinations { transform: rotate(-45deg) }
.header-big .main-menu i.nos-promotions { transform: rotate(90deg) }


.header-big .main-menu .sub-menu-1 {
  margin-top: 32px;
  animation: show-submenu-1 500ms;
}
@keyframes show-submenu-1 {
  0% {
    opacity: 0;
    transform: scale(0.95);
  } 100% {
    opacity: 1;
    transform: scale(1);
  }
}
.header-big .main-menu .ul-lvl-3 {
  transition-duration: 400ms;
  overflow: hidden;
}

.header-big .main-menu .fake-arrow {
  width: 20px;
  height: 20px;
  transform: rotate(45deg) translateX(40px) translateY(-23px);
  background: white;
  z-index: 0;
}
.header-big .main-menu .ul-lvl-2 {
  z-index: 1;
  background: white;
  padding: 10px;
  box-shadow: 0 0 4px rgba(100,100,100,0.25);
}
.header-big .main-menu .li-lvl-2 {
  padding: 5px 0;
  color: #333;
  font-size: 14px;
}
.header-big .main-menu .li-lvl-3:first-child {
  padding-top: 20px;
}
.header-big .main-menu .li-lvl-3 {
  padding: 5px 0;
  color: #888;
  font-size: 12px;
  margin-left: 20px;
  padding: 6px 0
}
.header-big .main-menu .li-lvl-2 i.fa-chevron-up {
  float: right;
}
